<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TbCarouselMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd"  keyProperty="F_PRODUCT_ID" useGeneratedKeys="true">
		    
		insert into TB_PRODUCT(
			F_PRODUCTNAME,	
			F_PRODUCTPIC,
			F_PRODUCTDESC,	
			F_PRICE,	
			F_CLSID,	
			F_ISSPECIAL
		) values (
			#{F_PRODUCTNAME},
			#{F_PRODUCTPIC},	
			#{F_PRODUCTDESC},	
			#{F_PRICE},	
			#{F_CLSID},	
			#{F_ISSPECIAL}
		)
		
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	          SELECT LAST_INSERT_ID() AS id
	    </selectKey>
	    
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from TB_PRODUCT
		where 
			F_PRODUCT_ID = #{F_PRODUCT_ID}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  TB_PRODUCT
			set 
				F_PRODUCTNAME = #{F_PRODUCTNAME},
				F_PRODUCTDESC = #{F_PRODUCTDESC},
				F_PRICE = #{F_PRICE},
				F_CLSID = #{F_CLSID},
				F_ISSPECIAL = #{F_ISSPECIAL}
			    where 
				F_PRODUCT_ID = #{F_PRODUCT_ID}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			F_PRODUCTNAME,	
			F_PRODUCTDESC,	
			F_PRICE,	
			F_CLSID,	
			F_ISSPECIAL,	
			F_PRODUCT_ID,
			tbpictures.PATH as PATH
		from 
			TB_PRODUCT tbproduct,TB_PICTURES tbpictures  
		where 
			tbproduct.F_ProductPic = tbpictures.PICTURES_ID  AND F_PRODUCT_ID = #{F_PRODUCT_ID}
	</select>
	
	<!-- 通过F_CLSID获取数据 -->
	<select id="findByClassId" parameterType="page" resultType="pd">
	
		select 
			F_PRODUCTNAME,	
			F_PRODUCTDESC,	
			F_PRICE,	
			F_CLSID,	
			F_ISSPECIAL,	
			F_PRODUCT_ID,
			tbpictures.PATH as PATH
		from 
			TB_PRODUCT tbproduct,TB_PICTURES tbpictures
		where 
			tbproduct.F_ProductPic = tbpictures.PICTURES_ID   AND F_CLSID = #{pd.F_ClsId}
	</select>
	
	  <select id="findNewHot" parameterType="page" resultType="pd">
   select 
			F_PRODUCTNAME,	
			F_PRODUCTDESC,	
			F_PRICE,	
			F_CLSID,	
			F_ISSPECIAL,	
			F_PRODUCT_ID,
            tb_pictures.PATH as F_PATH
		from 
			tb_product   inner join tb_pictures on TB_PRODUCT.F_ProductPic=tb_pictures.PICTURES_ID  
	  where F_Status = 0   order by F_Degree desc   limit 0,3  
   </select>
   
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		        a.F_Id,
				a.F_Url,	
				a.F_Address
		from 
				tb_carousel a
		where 1=1  
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		        a.F_PRODUCT_ID,
				a.F_ProductName,	
				a.F_ProductPic,	
				a.F_ProductDesc,	
				a.F_Price,	
				a.F_ClsId,	
				a.F_ProductTime,
				a.F_Status,
				a.F_IsSpecial,
				a.F_Degree
		from 
				TB_PRODUCT a
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from TB_PRODUCT
		where 
			F_PRODUCT_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>